# Example CODEOWNERS file

# Assign an individual user as the owner of all files in the repo
* @username

# Assign a team as the owner of all JavaScript files
*.js @org/team-name

# Assign multiple owners to a specific directory
/docs/ @nyakagwafred @eniola10101

# Assign different owners to different file types
*.py @python-devs
*.md @docs-team
